@font-face {
    font-family: 'Montserrat';
    src: url('../montserrat/Montserrat-Light.eot');
    src: url('../montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../montserrat/Montserrat-Light.woff') format('woff'),
        url('../montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* theme #F6635C */
/* ribbons #FFBA86 */
/* background #5f2364 */


:root{
    --main-color : #5f2364;
    --main2-color :#4e4e4e;
    --yellw:#e0ca03
}



html{box-sizing:border-box}*;*:before;*:after{}

.pop-content-cont{
    max-width:400px !important;
    background-color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;

}


.logo{
    height: 150px;
    margin: 20px auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

#gplay-icon-link{
    background-color: #134f72;
}

#ios-icon-link{
    background-color: #1e1344;
}

#updown-icon-link{
    background-color: #441330;
}

.platform-links{
    width:100px;
    height:100px;
    border-radius: 20px;
}

.physical_addr{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5%;
    font-weight:500;
    background-color: #f8f8f8;
    color:var(--main2-color);
    width:100%;
    font-size:12px;
}

.nav{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5%;
    font-weight:600;
    width:100%;
    font-size:15px;
    margin-top:10px;
    margin-bottom:10px;
}

.nav ul{
    list-style-type:none;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    gap:3%;

}

.sidenav-ul{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    width:100%;
    gap:50%;
    height:400px;
}

#sidenav{
    background-color:#eee;
    align-items:flex-start !important;
}

.mny-icons{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.pay-logos{
    background-color: ;
    height:70px;
    overflow: hidden;
    display:flex;
    align-items: center;
}

#li-project ul{
    display:none;
}

#proj-check:checked + #ul-1{
    display:flex;
    position:absolute;
    width:400px;
    height:700px;
    flex-direction:column;
    left:350px;
    top:130px;
    background-color:#eee;
    border:1px solid #bbb;
}

.sec-section{
    display:flex;
    width:600px;
    left:350px;
    top:130px;
    background-color:#eee;
    border:1px solid #bbb;
    flex-wrap:wrap;
    gap:10px;
    align-content:flex-start;
    padding:15px;
}

.content-section{
    width:800px;
    height:800px;
    border:1px solid #bbb;
    padding:15px;

}

.group{
    margin:20px 0px;
}

.user-sec-page{
    display:flex;
    gap:20px
}

.a-links{
    text-decoration:none;
    color:#303030;
}

.options span{
    font-size:11px;
    font-weight:500;
}

.paras-subtopics{
    margin:0 auto;
    width:70%;
    font-size:18px;
    color:#5f2364;
}

.layout-icons{
    height:55px !important;
}


.general-flex{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    flex-wrap:wrap;
}

form{
    width:100%;
}

.text-area{
    height:300px;
    rows:23;
}

.margin-zero-auto{
    width:70%;
    margin:0 auto;
}

.circle-bg{
    background-color:#5f2364;
    border-radius:50%;
    padding:40px;
    font-size:40px;
    font-weight:bold;
    color:white;
}

.sub-topic-details{
    width:100%;
    font-size:18px
}

body{
    box-sizing:content-box;
    font-family:Montserrat !important;
    animation:fade-anim 0.5s ease-in;
    position: relative;
    /* width:100% !important; */
    /* background-color: #cc1515; */
}

.progress-cont{
    display:flex;
    height:100px;
    width:100%;
    border-radius:4px;
    background-color:;
    align-items:center;
}

.progress-line-sep{
    height:5px;
    width:60px;
    margin-right:10px;
    margin-left:10px;
    background-color:#eee;

}

.progress-line-sep-c{
    height:4px;
    width:60px;
    margin-right:10px;
    margin-left:10px;
    background-color:coral;

}

.text-area{
        min-height:250px;
        height:auto;

}

.progress-line-sep{
    height:4px;
    width:60px;
    margin-right:10px;
    margin-left:10px;
    background-color:#eee;

}

.progress-incr-c{
    display:flex;
    justify-content:center;
    align-items:center;
    width:65px;
    height:65px;
    border-radius:50%;
    background:none;
    border:3px solid coral;

}

.progress-incr{
    display:flex;
    justify-content:center;
    align-items:center;
    width:65px;
    height:65px;
    border-radius:50%;
    background:none;
    border:3px solid #eee;
}

.progress-no-c{
    font-size:35px;
    color:coral;
}

.progress-no{
    font-size:35px;
    color:#eee;
}

body.no-scroll{
    overflow:hidden;
    height:100%;
}

.profile-sections{
    display:none;
    height:100vh;
    background-color:;
    margin:10px;
}

section{
    animation:fade-anim 0.5s ease-in;
}

@keyframes fade-anim{
    0% {opacity:0;transform:translateY(40px);}
    100% {opacity:1;transform:translateY(0px);}
}

.border-outline{
    border:2px solid red;
    border-radius:15px;
    padding:5px 20px;
}

.ad-caption{
    font-size:16px;
    font-weight: 500;
}

.line{
    /* width:90%;
    height:2px;
    background-color:#707070; */
}

.general-card{
    border:1px solid #5f2364;
    border-radius:15px;
    min-width:300px;
    min-height:500px;
    padding:20px 10px;
}

.general-align-col-c{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.general-align-row-c{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.labels{
    font-size: 13px;
    font-weight: 600;
    color:var(--main-color);
    margin-left: 10px;
    /* width:90%; */
}

.labels-extend{
    font-size: 13px;
    font-weight: 600;
    color:var(--main-color);
    margin-left: 10px;
    width:90%;
}

.view-opts-btn{
    transition:all 0.4s ease;
}

.view-opts-btn:hover{
    background-color: #e2e2e2;
}

.menu-icon{
    display:flex;
    height:30px;
    width:30px;
    /* position:absolute; */
    flex-direction:column;
    top:60px;
    left:5px;
    background:none;
    border:2px solid #5f2364;
    justify-content:center;
    align-items:center;
    padding:7px;
    border-radius:15px;
    gap:5px;
    transition:all 0.3s ease;
}

.menu-icon:hover{
    cursor:pointer;
    border:2px solid #c2c2c2;
    background-color: #c2c2c2;
}


.contact-form{
    width:90%;
    padding:10px;
    margin:0 auto;
}

.contact-form-control{
  background-color: #f8f9fa;
  padding: 10px;
  padding: 10px 15px;
  margin-bottom: 0.8rem;
  border:1px solid #bebebe;
  border-radius:10px;
  width:90% !important;
}



.span-error{
    font-size:12px;
    color:red;
}

.border-spec{
    border:1px solid #eee;
    border-top:6px solid #5f2364;
    padding:20px;
    background-image:linear-gradient(white,rgba(0,0,0,0.03));
}

.grey_gra_hover{
    background-image:linear-gradient(white,rgba(0,0,0,0.08));
}

.grey_gra_hover:hover{
    cursor:pointer;
    background-image:linear-gradient(rgba(0,0,0,0.1),white);
}

.general-flex-col{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    flex-wrap:wrap;
    //background-color:blue;
    margin:0 auto;
}

.field-set-wb{
    border: 1px solid #5f2364;
    border-radius:7px;
    padding:30px;
}


.hyper-links{
    width:0px;
    height:0px;
}

.general-flex-row{
    display:flex;
    flex-wrap:wrap;
    gap:35px;
    margin:0 auto;
}

input[type="checkbox"]{
    background:coral;
}

.center-text{
    text-align:center;
}

.svg-hrefs::after{
    position:absolute;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(23,124,12,0);
    z-index:800;
}

.reactions-container{
    background:none;
    height:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 80%;
}

.pre-react{
    display:flex;
    justify-content:center;
    align-items:center;
}

.general-flex{
    display: flex;
    justify-content:center;
    align-items: center;
}

.c-name{
    display: flex;
    flex-direction: column;
    font-size:18px !important;
    font-weight: 600 !important;
}


.item-as-btn:hover{
    cursor: pointer;
    color:#3a2453;
    font-weight:500;
}

.app-list{
    display: flex;
    align-items: center;
    gap:2px;
    width: 100%;
    max-width: 400px;
  }

.layout_ls_cont{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items:center;
    /* background-color:var(--coral-varient); */
    gap:10px;
  }

.stroke{
    border-radius:10px;
    height:2px;
    width:100%;
    background-color:var(--main-color);
}

.stroke:hover{
    background-color:#707070
}

.legends{
    color:#5f2364;
    font-size:20px;
}

#poster_quote{
overflow:scroll;
}


.form-control-other{
    width:70%;
    margin:5px auto;
    padding:10px 10px;
    border:2px solid #coral;
    border-radius:5px;
    font-weight:500;
    color:#5f2364;
    font-size:18px;
}

.group span{
    font-weight:600;
    color:#909090;
}





.btns-user-pa{
    border:none;
    padding:7px 10px;
    color:white;
    font-weight:600;
    font-size: 12px;
    border-radius:15px;
    background-color:#5f2364;
    border:2px solid #5f2364;
    text-decoration:none;
}

.btns-user:hover{
    color:#494649 !important;
    border: none !important;
}

.btns-outlined{

    border:2px solid #5f2364;
    padding:5px 10px;
    color:#5f2364;
    font-weight:600;
    border-radius:15px;
    background:none;
    text-decoration:none;
}

.input-size{
        min-width:350px;
        width:30%;
}

.btns-coral{

    border:2px solid coral;
    padding:7px 40px;
    color:coral;
    font-weight:600;
    border-radius:15px;
    background:none;
    text-decoration:none;
    margin:40px 0;
    cursor:pointer;
}

.btns-coral:hover{

    border:2px solid #5f2364;
    color:#5f2364;
    font-weight:600;
    border-radius:15px;
    background:none;
    text-decoration:none;
}

.side-nav-bg{
    position: fixed;
    display: none;
    justify-content: flex-start;
    top: 0;
    bottom: 0;
    z-index:1600;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
}

.side-nav-cont{
    width:250px;
    height: 100vh;
    display: flex;
    transform: translate(-100%);
    justify-content: flex-start;
    background: rgba(240, 239, 239, 1);
    flex-direction: column;
    padding:15px;
    transition:all 0.3s ease;
    transform: translate(0%);
}

.show-menu{
    animation: move-to-appear 0.6s ease; 
}

@keyframes move-to-appear{
    0%{
        transform: translate(-100%);
    } 
    100%{
        transform: translate(0%);
    }
}

/* .btns:hover{
    border:none;
    padding:10px;
    color:white;
    font-weight:bold;
    border-radius:5px;
    background-color:coral;
    cursor:pointer;
} */

input:focus{
    border:1px solid #5f2364 !important;
    border-radius:4px;
}

input:focus-visible{
    border:1px solid #5f2364 !important;
    border-radius:4px;
}

input:focus-within{
    border:1px solid #5f2364 !important;
    border-radius:4px;
}

.form-sub-topics{
    font-size:30px;
    font-weight:420;
    color:coral;
}



.options{
    padding:3px 7px;
    background-color:#ddd;
    border-top:6px solid #5f2364;
    width:250px;
    height:100px;
    box-shadow:-1px 1px 3px 0px rgba(0,0,0,0.5);

}


.octagon {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
  animation: moveOctagon 2s infinite alternate;
}

@keyframes moveOctagon {
  from {left: 0px;}
  to {left: 200px;}
}

.my-curve{
    width:300px;
    height:300px;
    border-radius:150px 0px;
    background-color:orange;
}


.sel-imgs{
    width:60%;
    margin:0 auto;
    background-color:#eee;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
    padding:10px;
    margin-bottom:20px;
    opacity:0;
}


.shapes{
    height:100px;
    width:170px;
    border-radius:15px;
    background-color:#999;
    opacity:10;
}

@keyframes hidden-shapes{
    opacity:1;
    animation:transforma 2s;
}

@keyframes transforma{
    0%{
        transform:translateX(50%);
    }100%{
        transform:translateX(0%);
    }

}



.sel-tag span{
    transition:0.6s ease-in-out !important;
    display: inline-block;
}

.sel-tag span:hover{
    cursor:pointer;
    letter-spacing: 3px;
    animation:flash 0.8s !important;
}

@keyframes flash{
    0%,100%{
        color:#24788f ;
    }
    50%{
        color:#777b8f;
    }
}

#proj-check{
    display:none;
}

#proj-list{
    curser:pointer;
}

.hover_cls_rad:hover{
    background-image: linear-gradient(to right,coral 10%,rgba(0,0,0,0));
    border-radius:15px;
}

.hover_cls:hover{
    background-image: linear-gradient(to right,coral 10%,rgba(0,0,0,0));
    border-radius:15px;
}

.options:hover{
    background-image: linear-gradient(to right,coral 10%,rgba(0,0,0,0));
    transition-property:background-image
    transition-delay: 3s;
}

.side-nav{
    width:15%;
    height:1000px;
    display:flex;
    /* //justify-content:center; */
    background-color:#5f2364;
}

.big-btns-c{
        display:flex;
        justify-content:center;
        align-items:center  ;
        position:relative;
        padding:5px;
        width:130px;
        height:130px !important;
        border-radius:15px;
        /* border:3px solid coral; */
        /* background-color:#24788f; */
        overflow:hidden;
        margin:0 auto;
        transition:1s all ease;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20);
    }

/*.big-btns-c::before{
         content:"";
        position:absolute;
        width:80px;
        top:-30px;
        height:200px;
        background:linear-gradient(#ddef11, rgba(0, 0, 0, 0));
        animation: rotate 4s linear infinite;
    } */

/* .big-btns-c::after{
        content:"";
        position:absolute;
        background:white;
        inset:4px;
        border-radius:15px;
    } */

.big-btns-c svg{
    z-index:50;
}

@keyframes rotate{
    from{
        transform:rotate(0deg)
        }
    to{
        transform:rotate(360deg)
        }
}

.job-ad-group{
    width:100%
}

.form-control{
  background-color: #f8f9fa;
  padding:10px 5px;
  margin-bottom: 0.8rem;
  min-height: 20px;
  border:1px solid #bebebe;
  border-radius:15px;
  margin-left: -5px;
  /* display:inline-block; */
  width:100%
}

.form-control-radios{
    padding: 7px;
    padding: 7px 10px;
    margin-bottom: 0.8rem;
    border-radius:10px;
    /* display:inline-block; */
    width:100%;
    list-style-type: none;
  }

.form-control:focus{
    border:1px solid #5f2364 !important;
}
.form-control:focus-within{
    border:1px solid #5f2364 !important;
    border-radius:4px;
}
.form-control:focus-visible{
    border:1px solid #5f2364 !important;
    border-radius:4px;
}


.slinks-li label span{
    font-size:17px;
}

#proj-check:checked + label span{
    color:coral;
}

#ul-1{



}

.form-cont{
    width:60%;
    margin: 5px auto;
}

.slinks-li label span:hover{
    font-size:20px;
    cursor:pointer;
    color:coral;
}

h1,h2,h3,h4{
    color:var(--main-color);
}

label span{
    color:#606060;
}

.slinks-li{
    width:100%;
    color:#5f2364;
}

.side-a{
    width:150px !important;
    border:none !important;

    text-decoration:none;
    color:#5f2364;
    border-radius:12px;
    padding:3px 10px;
}

.side-a:hover{
    width:150px !important;
    border:none !important;
    text-decoration:none;
    color:white;
    background-color:#5f2364;
    border-radius:12px;
    padding:3px 10px;
}

.links-li a{
    text-decoration:none;
    color:#5f2364;
    border-radius:12px;
    border:2px solid #5f2364;
    padding:3px 10px;
}

.links-li a:hover{
    color:#494649;
    border:2px solid #494649;
}

.links-user{
    transition: all 0.3s ease;
}

.links-user:hover{
    color:#494649 !important;
    border:2px solid #494649;
    background:none;
}

#view-cont::-webkit-scrollbar-thumb {
    background-color: rgba(212, 212, 212,0.2);
    border-radius: 10px;
    height: 10px !important;
 }

 
 #view-cont::-webkit-scrollbar {
    margin-top:20px;
    width: 10em;
    background: none;
 }

 #view-cont::-webkit-scrollbar-thumb:hover {
    margin-top:20px;
    background-color: rgba(212, 212, 212,1);

 }


#scroll-left{
    border-bottom: 4px solid #636262;
    border-left: 4px solid #636262;
    border-right: none;
    border-top: none;
    transform: rotate(45deg) !important;
    border-bottom-left-radius: 10px !important;
}

#scroll-right{
    border-top: 4px solid #636262;
    border-right: 4px solid #636262;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg) !important;
    border-top-right-radius: 10px !important;
}

.scroll-btn {
    z-index: 10;
    padding: 10px;
    cursor: pointer;
    background:none;
    width:40px;
    height:40px;
}

.scroll-container{
   
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items:center ;
    width:max-content;
}

.scroll-btn:hover {
    opacity:0.7;
}

.search-btn{
    border:1px solid #202020 ;
    border-left:none !important;
    border-radius: 0 15px 15px 0 !important;
    background-color: var(--main-color);
    height: 35px !important;
 }

 .search-field{
    border:1px solid #202020!important;
    border-right:none !important;
    border-radius: 15px 0 0 15px !important;
    height: 35px !important;
    color:var(--main-color)
 }

 .search-field:focus{
    border:1px solid #00a550;
    border-right:none !important;
    border-radius: 15px 0 0 15px !important;
    height: 35px !important;
    color:var(--main2-color)
 }

.banner-cap{
    display:flex;
    justify-content:center;
    width:100%;
    height:80vh;
}

.flash-messages{
    width:60%;
    margin:10px auto;
    font-size:13px;
    font-weight:600;
}
.sel-tag{
    font-size:20px;
}

img{
    border-radius: 15px;
    cursor: pointer;
}


.submit-engr{
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    border:none;
    background: none;
}

.submit-engr:hover{
    cursor: pointer;
}

.submits-options{
    /* height: 20px; */
    padding:5px 10px;
    /* border: 1px solid rgb(35, 146, 72); */
    border-radius: 20px;
    gap:10px;
    display: flex;
    align-items: center;
    position:relative;
    /* background-color: #0F75BC; */
}

.submits-options label{
    font-weight: 500;
    color:#2f3133;
}

.submits-options label:hover{
    cursor:pointer;
}

.navigation{
    display: flex;
    align-items: center;
    padding:10px;
    position: sticky;
    top: 0;
    background-color: rgb(247, 247, 247);
    max-width: 1100px;
    margin:0 auto;
    border-radius:20px;
    align-items:center;
    z-index:1500;
}

.cls-1{fill-rule: #5f2364;}

.links img{
    height:30px;
}

.proj-icons{
    width:75px;
    height: 75px;
}

.login-container{
    min-width:500px;
}

.contact-icons{
    height:30px;
    transition:all 0.3s ease;
}

.contact-icons:hover{
    transform: scale(1.2);
}

.objectives span{
    vertical-align: top !important;
}

.btns{
    /* height:20px; */
    padding:7px;
    color:var(--main-color);
    /* font-weight:bold; */
    border-radius:20px;
    border:2px solid #5f2364;
    font-size: 18px;
    background: none;
    font-weight:600;
    min-width:70px;  
    text-align: center;
    transition:all 0.3s ease;
    width:max-content;
    margin:2px auto;
}

.btns:hover{
    border:1px solid rgb(117, 117, 117) !important;
    color:rgb(117, 117, 117) !important;
    cursor: pointer;
}


a{
    text-decoration: none;
}

.about-contain{
    padding:20px;
    height:400px;
    width:80%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px auto;
    /* flex-direction: column; */
    /* gap:-50px; */
}
.about-contain img{
    border-radius: 15px;
    height:200px !important;
    /* position: absolute; */ 
}

.about-content-cont{
    /* position: absolute; */
    border-radius: 15px;
    height:auto;
    width:340px;
    background-color: rgba(230,230,230,0.7);
    padding:20px;
    /* margin-top:-150px; */
    margin-left:-50px;
}

.subs{
    font-weight:600;
    font-size:20px;
    margin-top:-10px;
    color:rgb(95, 35, 100) ;
    font-weight: 700;
    font-size: 28px;
}

.list-items{
    justify-content: flex-start;
    padding-left:10px;
    flex-wrap: nowrap;
}

.list-items img{
    height:30px; 
}

.prf-img-cont{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid rgb(95, 35, 100);
    overflow: hidden; 
}


.topic{
    font-weight: 700;
    font-size: 28px;
}

.topic-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:60%;
    gap:10px;
    margin:10px auto;
    /* background: white; */
    border-radius: 25px;
    padding:10px;
    position: absolute;
    margin: 0 auto;
    transform: translateX(-50%);
    /* right:50%;*/
    left:50%; 
    top:-120px;
}

.intro{
    text-align: center;
    font-weight:500;
    padding:15px

}

.img-nm-cont{
    width:100%;
    position: relative;
}

.intro-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:35%;
    gap:10px;
    margin:10px auto;
    border: 1px solid grey;
    /* background: rgb(186, 196, 250); */
    border-radius: 25px;
    padding:15px;
    min-width:400px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:40%;
    gap:10px;
    margin:10px auto;
    background: white;
    border-radius: 25px;
    padding:10px;
}

.app-name{
    font-weight:500;
    font-size:23px;
    text-align: center;
}

.owner-name{
    font-weight:500;
    font-size:16px;
    color:#134f72;
    display: flex;
    align-items: center;
}

.description{
    font-size:12px;
    color:#606060;
    text-align: center;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:200px;
    min-height: 200px;
    gap:5px;
    padding:25px;
    border:1px solid grey;
    border-radius: 25px;
}


.legendary{
    position:absolute;
    bottom:0;
    left:16%;
    font-weight:700;
    padding:2px;
    font-size:12px;
    }
/*
.legendary::before{
    content:"";
    display:block;
    width:100%;
    position:absolute;
    bottom:0;
    left:20%;
}*/

.bs-cont{width:100%;flex-wrap:wrap;gap:6px;justify-content:flex-start !important;background-color:}

.bus-icons{
    width:150px !important;
    height:150px !important;
}

.bus-icons-fs{
    border:4px solid #ccc;
    border-radius:18px;
}

#bus-icons-fs-1 label{color:purple}
#bus-icons-fs-2 label{color: #F05A28}
#bus-icons-fs-3 label{color:#0F75BC}
#bus-icons-fs-4 label{color:#999}
#bus-icons-fs-5 label{color:coral}

#bus-icons-fs-1{border:4px solid purple;}
#bus-icons-fs-2{border:4px solid #F05A28;}
#bus-icons-fs-3{border:4px solid #0F75BC;}
#bus-icons-fs-4{border:4px solid #999;}
#bus-icons-fs-5{border:4px solid coral;}

.action-prompt{
    width:90%;
    border-radius:15%;
    padding:5px;
    height:100px;
    gap:5px;
    justify-content:center;
    align-items:center;
    background-color:#ccc;
    flex-direction:row !important;
    flex-wrap:nowrap !important;
}

.popup-icons{
    height:50px !important;
    background-color:red;
    width:150px;
}


.burger{
  display: block;
  position:absolute;
  right:10px;
  top:-65px;
  background-color: rgba(255,127,80,0.4);
  padding:5px;
  hover:pointer;
  border-radius:10px;
  margin-left:0;
}

.burger:hover{
    cursor:pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition:all 0.5s ease;
}

.navbar-separator{
    width:50px;
    height:1px;
    background-color: #eee;
    margin: 5px;
}

.other-nav{
    position:absolute;
    top:110px;
    left:-110px !important;
    width:35%;
    z-index:500;
    transition: all 1s ease;
    display: none;
}

.menu-appear{
    left:160px !important;
}

.menu{
    display:none;
}

.nav-link{
    text-decoration:none;
    /* font-weight:500; */
    color:white;
}

.app-logo{
    /* background-color: #0F75BC; */
    width: 180px;
    height: 180px;
}

.app-logo img{
    margin: 0 auto;
}

.saas-apps{
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    min-height:500px;
    width:300px;
    flex-wrap:wrap;
    flex-direction:column;
    border-radius: 15px;
    background-color: white;
    /* overflow: hidden; */
}

.app-btns{
    display: flex;
    justify-content: center;
    align-items:center;
    width:70%;
    gap:5px;
    
}

.app-link{
    text-decoration: none;
    border-radius: 20px;
    padding:5px 10px;
    border:2px solid #5f2364;
    color:#5f2364;
    font-weight: 600;
    text-wrap: nowrap;
    font-size: 14px;
    transition: all 0.5s ease;
}

.app-link:hover{
    border:none;
    background-color:#5f2364;
    color:#fff;
    transform:scale(1.3)
}

.app-btns{

}

.app-title{
    color:#5f2364;
}

.app-content{
    padding: 20px;
    text-align: center;
}

.saas-cont{
    display: flex;
    width:100%;
    flex-wrap:wrap;
    
    gap:40px;

}

.other-navbar-nav{
    background-color: #5f2364;;
    backdrop-filter: blur(15px);
    left:-10px;
    min-height:50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:80%;
    margin: 0;
    padding-top: 35px;
    transform: translateX(-100%);
    transition:All 0.5s ease-in-out;
    border-radius:0 10px 10px 0;
    list-style-type:none !important;
}

.nav-link{
    animation-delay: 500ms;
}

@keyframes navLinkFade{
from{
    opacity: 0;
    transform: translateX(-1500px);
}
to{
    opacity: 1;
    transform: translateX(0);
}
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px );
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px );
}


.border-art{
    width:200px;
    height:200px;
    border:10px solid #45d212;
    border-radius:15px;
    /* float:right; */
    position:relative;
}

.border-art::after{
    position:absolute;
    top:-60px;
    right:-60px;
    content:"";
    width:80px;
    height:80px;
    border:10px solid #4532d2;
    padding:5px;
    border-radius:15px;
    float:right;
    background-color:white;

}

.nav-active{
  transform: translateX(0%);
}

.nav-links a{
  display: block;
   text-transform: uppercase;
   text-decoration: none;
   color: #fff;
  transition:0.5s ease;
  transform: translateX(0%);
  padding:12px;
}


.nav-links a:hover{
  letter-spacing: 5px;
  border-bottom:1px solid coral;
}

.line2{
    height:2px;
    width:80%;
    margin:10px auto;
    background-color: var(--main-color);
}

.repo-details div{
    font-size:12px;
    color:grey;
    font-weight:600;
    padding:10px;
    flex-wrap:nowrap !important
}

.show-it{
    display: block !important;
}

.repo-title{
   text-align: center; 
}

.attachment{
    border-radius: 10px;
    width:80px;
    padding:7px;
    background-color: #b5b698;
    color:black !important;
}

.reportbtn{
    font-size:20px;
    font-weight:500;
    color:var(--main-color);
    padding:3px; 
    transition: all 0.3s ease; 
}

.cont-handle{
    transition: all 0.3s ease;
}

.reportbtn:hover{
    cursor: pointer;
}

/* #cont-handle-1{
    transform: rotate(90deg);
} */

.rotate-45{
    transform: rotate(90deg);
}


#report{
    background-color: #f0efef;
    padding:10px;
    border-radius:10px;
    width:90%;
}


.report-cont{
    display:none;
    background-color: #f0efef;
    padding:10px;
    border-radius:10px;
    width:90%;
}


.repo-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    border:1px solid #303030;
    padding:10px;
    min-width:320x;
    width:70%;
    /* background-color: #00a550; */
    border-radius: 15px;
}


.css-selector {
    background: linear-gradient(198deg, #19dfaa, #a4f0dc);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite ;
}

@-webkit-keyframes AnimationName {
    0%{background: linear-gradient(88deg, #19dfaa, #a4f0dc);}
    50%{background: linear-gradient(168deg, #19dfaa, #a4f0dc);}
    100%{background: linear-gradient(108deg, #19dfaa, #a4f0dc);}
}
@-moz-keyframes AnimationName {
    0%{background: linear-gradient(88deg, #19dfaa, #a4f0dc);}
    50%{background: linear-gradient(168deg, #19dfaa, #a4f0dc);}
    100%{background: linear-gradient(108deg, #19dfaa, #a4f0dc);}
}
@keyframes AnimationName {
    0%{background: linear-gradient(88deg, #19dfaa, #a4f0dc);}
    50%{background: linear-gradient(168deg, #19dfaa, #a4f0dc);}
    100%{background: linear-gradient(108deg, #19dfaa, #a4f0dc);}
}

.icon-cont{
    
}

.selling-content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:;
    width:100%;
    height:auto !important;
}

.sel-tag{
    top:35px;
    right:30px;
    font-size:50px;
    font-weight:800;
    padding:0 80px;
    width:100%;
    color:orange;
}

@keyframes stretch-txt{
    0%{
        font-size:42px;
        width:70%;
        opacity:0;
    }
    100%{
        font-size:40px;
        width:100%;
        opacity:1;
    }

}

.item{
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
}

.item img{
    height:150px;
    width:150px;
}



.serv-list{
    width:100%;
    gap:30px;
    display:flex;
    flex-wrap:wrap;
    font-size:20px;
    font-weight:bold;
}

.bold{
    font-weight:500;
}

.activate-options{
    color:coral;
    border:2px solid coral;
    padding:7px;
    border-radius:15px;
}

.kolor{
    color:coral;
    font-weight:500;
    font-size:15px;
}

.bool-opt-cont{
    display:flex;
    flex-wrap:wrap;
    align-items:space-between;
    gap:10px;
}

.bool-options{
    border-radius:15px;
    border:1px solid #ccc;
    padding:7px;
    color:#ccc;
}

.item{
    opacity:0;
    transform:translateY(20%);
    transition:1s all ease;
    cursor:pointer;
}

.serv-icon{
    animation:float 4s ease-in-out infinite;
    fill: #ff0000;
    z-index:500
}

@keyframes float {
	0% {
		/* //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(238, 186, 16, 0.452);
		transform: translatey(-15px);
	}
	100% {transform: translatey(0px);
	}
}

.serv-list label{
    padding:10px;
    border-radius:10px;
    background-color:purple;
}

.explore-btn{
    display:flex;
    align-items:center;
    bottom:10px;
    right:80px;
    border-radius:10px;
    padding:10px;
    border-radius:10px;
    background-color:red;
    font-weight:bold;
    color:white;
    transition:0.3s ease;
}

.explore-btn:hover{
    cursor:pointer;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5);
    transform:translateY(-20%);
    padding:12px;
}

.icon-cont img{
    width:100%;
    border: 1px solid rgb(235, 235, 235);
}

.sub-sel-tag{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    align-items:center;
    gap:5px;
}

.sel-tag-text{
    color:#999;
    font-size:20px;
    font-weight:500;
    width:100%;
}

.line-decor{
    width:40%;
    height:7px;
    border-radius:15px;
    background-color:#ccc;
    animation:stretch 3s ease 2s;
}

@keyframes stretch{
    0%{
        width:0%;
        opacity:0;
    }
    100%{
        width:40%;
        opacity:1;
    }
}

.background-img{
    position:absolute;
}

.spacing{
    height:200px;
}

.services{
    display:flex;
    width:80%;background-size: cover; /* Or any other desired background size */
    background-position: center;
    justify-content:flex-start;
    margin:0 auto;
    flex-direction:column;
    padding:10px;
    transform:translateY(20%);
}

.hidden{
    opacity:0;
    transform:translateY(20%);
    transition:0.8s all ease;
}



.item:hover{
    transform:translateY(-5px);
    transition-delay:3ms;
}

.item:nth-child(1){
    transition-delay:200ms
}
.item:nth-child(2){
    transition-delay:500ms
}
.item:nth-child(3){
    transition-delay:600ms
}
.item:nth-child(4){
    transition-delay:900ms
}
.item:nth-child(5){
    transition-delay:1200ms
}


.bs-tools:hover{
    transform:translateY(-15px);
}

.bs-tools{
    cursor:pointer;
}

.bs-tools:nth-child(3){
    transition-delay:200ms
}
.bs-tools:nth-child(4){
    transition-delay:500ms
}
.bs-tools:nth-child(1){
    transition-delay:600ms
}
.bs-tools:nth-child(2){
    transition-delay:900ms
}
.bs-tools:nth-child(5){
    transition-delay:1200ms
}
.bs-tools:nth-child(8){
    transition-delay:300ms
}
.bs-tools:nth-child(9){
    transition-delay:1400ms
}

.show{
    transform:translateY(0%);
    opacity:1;
    animation-delay:500ms;
}

.icon-imgs{
    transition: all 0.3s ease;
    height: 30px;

}

.icon-imgs:hover{
    transform:scale(1.5)
}

.show-nav{
    display: block;
}

.selling-content-img{
    background-size: cover; /* Adjusts the background size */
    background-position: center;
    height:600px;
}

.service{
    display:flex;
    flex-direction:column;
    width:400px;
    justify-content:center;
    align-items:center;
    padding:2px;
    border:1px solid 24788f;
    border-radius:10px;
  }

.img-banner-cont{
    width:100%;
    height:100%;
    overflow:hidden;
}

.img-banner-cont img{
    width:100%;
    filter: blur(1px);
}

.center-prl-img{
    position:relative;
    width:100%;

}

.user{
    /* position:initial; */
    display:flex;
    justify-content:flex-end;
    width:97%;
}

/* .user{
    position:absolute;
    right:30px;
    top:60px;
} */

.user-label{
    display:flex;
    list-style-type:none;
    gap:5px;
}

.logo-img-cont{
    display:flex;
    justify-content:center;
   align-items:center;
    width:30%;height:90px;
    margin:0 auto;
}

.logo-img-cont img{
    width:100%;
}

.text-center-div{
        position:absolute;
        width:100%;
        top:400px;
}


.account{
    background-color:#ccc;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.other-nav-item{
    list-style-type: none;
}

#side-navig-cont{
    position: relative;
}

.other-nav-item a{
    color:#808080
}

.close-btn{
    position:absolute;
    right:20px;
    top:20px;
    height: 40px;
    width:40px;
    border-radius: 50%;
    background-color: #8f8e8e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn .stroke{
    /* border:2px solid white ; */
    /* border:2px solid rgb(255, 255, 255) ; */
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
    width:30px;
    position: relative;
}

.close-btn .stroke::after{
    position: absolute;
    content: "";
    border:2px solid rgb(255, 255, 255) ;
    background: rgb(255, 255, 255);
    transform: rotate(-90deg);
    width:30px;
}

.info-cont{
    width:250px;
    height:250px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid #24788f;
    border-radius:15px;
}

.info-demo-cont{
    width:250px;
    height:250px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid #24788f;
    border-radius:15px;
    background-color:#24788f;
}

.buttons{
    background-color:coral;
    curser:pointer;
    border-radius:15px;
    margin:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    color:white;
    width:150px;
    height:40px;
    text-align:center;
}

.sub-topics{
        display:flex;
        justify-content:center;
        width:100%;
        height:auto;
        padding:10px;
        color:#707070;
}

/* .pop-up{
    height:100%;
    justify-content:center;
    align-items:center;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:500;
    display:none;
} */

.cat-subtitle{
    color:rgb(78, 78, 78);font-weight:400;text-align: left;
    min-width:400px;
}

.pop-cont{
    height:100%;
    justify-content:center;
    align-items:center;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background-color:rgba(0,0,0,0.8);
    z-index:1700;
    display:none;
}

.pop-up{
    display:none;
    background-color:white;
    min-height:500px;
    width:300px;
    max-width:610px;
    top:100px;
    border-radius:10px;
    flex-direction:column;
    padding:30px;
    margin:0 auto;
    position:absolute;
    align-items: center;
    /* overflow:scroll; */
    width:80%;
    transition:0.4s ease-in;
}

.show-popup{
    display:flex;
}

.sub-topics p{
        font-size:50px;
}

.text-center{
    text-align:center;
    font-size:30px;
    font-weight:700;
    color:white;
    width:40%;
    border:2px solid white;
    border-radius:25px;
    padding:10px;
    margin:0 auto;
    backdrop-filter:blurry(10px)
}

.flex-just-align{
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}

.sel-tag-2{
    width:70%;
    color:#999;
    font-size:20px !important;
    font-weight:500;
}

#web-labels{
    padding:10px;


}




@media all and (max-width: 900px) and (min-width: 576px){

    

    .text-center-div{
            /* //background-color:#24788f; */
            top:200px;
    }
    .text-center{
        font-size:30px;
        font-weight:500;
        width:80%;
        backdrop-filter:blurry(0px)
    }
    .banner-cap{}
    .sub-container{
        width:100% !important;
        /* background-color:; */
    }
    .service{
        width:120%;
        /* //background-color:green; */
    }

    .acc-p{
        width:95% !important;
    }

    .contact-form{
        width:100% !important;
        /* background-color:; */
    }

    .border-spec{
        width:80% !important;
    }

    .acc-p{
        width:95% !important;
    }

    .form-control-techx{
        flex-direction:column;
        /* //background-color:red; */
    }

    .form-control-techx div{
        width:90% !important;
    }

    /* From phone size */

    .banner-cap{
        height:auto;
    }

}

.form-container{
    display:flex;
    flex-direction:column;
    width:60%;
    /* background-color:rgb(0, 247, 255); */
    margin:0 auto !important;
}



.alert-error,.alert-message,.arlet-success{
    background-color: rgb(236, 235, 235);
    padding:7px;
    border-radius: 10px;
}

.alert-error{
    color:red !important;
    text-decoration: dotted;
}

.alert-success{
    color:rgb(56, 91, 243);
    background-color: rgb(236, 235, 235);
    padding:7px;
    border-radius: 10px;
    margin:0 auto;
}

.alert-message{
    color:rgb(252, 135, 25) !important;
}

.nav-link{
    transition: all 0.4s ease;
}

.nav-link:hover{
    letter-spacing: 4px;
    color:var(--main2-color)
}


@media all and (max-width: 575px){

.repo-container{

    width:90%;}

.mny-icons{

    justify-content: center;
    flex-wrap: wrap;

}

.repo-print{
    font-size:14px;
}


.about-contain{
    padding:10px;
    height:400px;
    width:80%;
    flex-direction: column;
    margin:0px auto;
    /* flex-direction: column; */
    /* gap:-50px; */
}
.about-contain img{
    height:150px !important;
    /* position: absolute; */ 
}

.about-content-cont{
    /* position: absolute; */
    width:200px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-50px;
}

.topic{
    text-align: center;
}

.topic-cont{
    width:80%;
}

.intro-container{
    width:80%;
    min-width:300px;
}

#intro-content{
   font-size:20px !important; 
}

.login-cont{
    width:max-content;
    padding:5px;
}

.intro span{

}

.login-container{
    min-width:320px;
}
.logo{
    height:120px;
}

.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width:60%; */
    gap:10px;
    margin:10px auto;
    /* padding:20px; */
}

.form-cont{
    width:95%;
    margin: 5px auto;
}

.flash-messages{
    width:90%;
    margin:10px auto;
    min-width: 350px !important;
}

.form-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    /* background-color:rgb(0, 247, 255); */
    margin:0 auto !important;
}

.nav-link{
    transition: all 0.4s ease;
}

.nav-link:hover{
    letter-spacing: 4px;
    color:var(--main2-color)
}

.scroll-btn{
    display: none;
}

#view-cont{
    display: flex;
    width:100% !important;
    flex-direction: column !important;
    /* background-color: #bc0f9f; */
}

.scroll-container{
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    /* background-color: #0F75BC; */
    margin:10px auto;
}

.saas-cont{
    justify-content: center;
    /* background-color: #0F75BC !important; */
    width: 100%;

}

.container{
    width:95% !important;
    margin:0 auto;
    }

.other-nav{

}


#save-time-img{
    height:200px !important;
    /* width:inherit; */
}

.save-time-cont{
    width:90% !important;
    /* background-color: #00a550; */
    margin: 0 auto;
}


.nav ul{
 display:none;
}

.logo-img-cont{width:70%;height:130px;background-color:;}

.service{width:100% !important;background-color:;}

.services{width:90% !important;background-color:;}

.sub-container{
    width:100%;
    margin:0 auto;
}

.text-center-div{
   top:10px !important;
}


.banner-cap{
    height:auto;
}

.selling-content{width:100% !important;
}
.q-request-cls{
    border:1px solid #999;
    border-radius:15px;
    width:100%;
}

p{
    font-size:12px;
}

.sub-topics{

}

.spacing{
 background-color:;
}

.physical_addr{
    height:35px;
    padding:2px
}

.physical_addr p{
    font-size:8px;
}

.sel-tag{
    /* //position:absolute; */
    font-size:25px;
    font-weight:600;
    padding:0 80px;
    width:100%;
    color:orange;
}


section{
    /* //background-color:blue; */
    width:100% !important;
    height:auto !important;

}

.serv-list{
    flex-direction: column;
    width:100%;
    /* margin:0 auto; */
}

.contact-form{
    width:100% !important;
    background-color:;
    }

.border-spec{
    width:100% !important;
}

.acc-p{
    width:95% !important;
}

.form-control-techx{
    flex-direction:column;
}

.form-control-techx div{
    width:90% !important;
}

.contact-form form{

}

.contact-form-control{

}



.text-center{
    font-size:16px;
    font-weight:500;
    width:60%;
    backdrop-filter:blurry(0px);
    box-shadow:-1px 1px 3px 0px rgba(0,0,0,0.5);
}

}






