{% extends "base.html" %}
{% block content %}

<style>
    .form-fields{
        display:flex;
        flex-direction:column;
    }
    section{ background-image:url(static/images/bg_service.png) }
</style>
<div class="flash-messages" id="">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for  category, message in messages %}
              <div class="flash-messages alert-{{category}}"> {{ message }}</div>
          {% endfor %}
      {% endif %}
  {% endwith %}
</div>
<br><br>

<div class="container">
   
  <div class="login-cont flex-general">
    
      <form style="background-color:;flex-direction:column;z-index:1000;" class="" _lpchecked="1" action="" method="post">
        <div class="flex-general" style="flex-direction: column;align-items: flex-start;">
            <h1  style="align-self: flex-start !important;text-align: left;">Hello,<br><span style="font-size:medium;color:rgb(102, 102, 102);">Please Sign-up</span></h1>
            <a href="{{url_for('google_login')}}"><div class="flex-general" ><h4>Continue with </h4>
            <img class="ggl-img" style="height: 35px;" src="static/icons/google.jpg" /> </div></a>
        </div>
            {{register.hidden_tag()}}
            <div class="group">
                {{register.name.label(class="labels")}}
                {{ register.name(class="form-control",placeholder="name",value=user.contacts) }}<br>
                {% if register.name.errors %}
                  {% for error in register.name.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
               {% endif %}
          </div>

           <div class="group">
                {% if user.contacts %}
                    {{ register.contacts(class="form-control",placeholder="contacts",value=user.contacts)}}<br>
                {%else%}
                    {{ register.contacts(class="form-control",placeholder="contacts")}}<br>
                {%endif%}
                {% if register.contacts.errors %}
                {% for error in register.contacts.errors %}<span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <div class="group">
                {{register.address.label(class="labels")}}
                {% if user.address %}
                    {{ register.address(class="form-control",placeholder="address",value=user.address)}}<br>
                {%else%}
                    {{ register.address(class="form-control",placeholder="address")}}<br>
                {%endif%}
                {% if register.address.errors %}
                {% for error in register.address.errors %}<span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <div class="group">
                {{register.image.label(class="labels")}}
                {{ register.image(class="form-control",placeholder="image",value=user.contacts) }}<br>
                {% if register.image.errors %}
                  {% for error in register.image.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
               {% endif %}
            </div>

           <label style="color:coral;font-weight: 500;">Password Strength Checker</label>
           <div class="power-container">
            
            <div id="power-point" class="power-point"></div>
        </div><br>
            <div style="" class="group">
                 <div>{{ register.submit(class="btns") }}</div><br>
            </div>
            <div style="" class="group">
                <!-- <div><a class="slinks-li" href="/register">Forgot Password?</a></div> -->
            </div>

      </form>
  </div>
</div>

<script>
</script>
{% endblock %}
