
{% extends "base.html" %}
{% block content %}
<div style="width:;margin:0 auto;background-color:;">
    <!-- <a id="contact_us"></a> -->
    <section style="background-color:;" id="" class="">
        <!-- Flash message -->
        <div class="flash-messages ">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div><br>
    </section>
</div>

<section id="" class="container">
    <div class="form-container">
        <div class="space-filler"></div>
        <label  style="color:rgb(15, 15, 15)" class="labels">Project:</label><label style="color:rgb(216, 149, 6)" class="labels">{{project.proj_name}}</label>
        <div><h3 style="border:none;margin:;text-align: left;background-color:;" class="sub-topic-details" >Assignment</h3><br>
            <small class="ad-caption">"What is the assignment Today"</small>
            <small></small>
        </div>
        <div class="line"></div><br>
        
        <form style="background-color:;width:;"  _lpchecked="1" action="" method="post" enctype="multipart/form-data">
            <br>
            
            <!-------Assignment--------->
                {{ asignment_form.hidden_tag() }}
                {{ asignment_form.assignment.label(class="labels")}}<br>
                {{ asignment_form.assignment(style="min-height:100px",class="form-control adj-width-60",placeholder="Today, please format the text according to specified styles, please check the link below for an example.")}}
                {% for error in asignment_form.assignment.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}

            <!-------Attachment--------->
            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ asignment_form.upload.label(class="labels")}}<br>
                {{ asignment_form.assign_img(class="form-control adj-width-60")}}
                {% if asignment_form.assign_img.errors %}
                {% for error in asignment_form.assign_img.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Attachment 2--------->
            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ asignment_form.upload.label(class="labels")}}<br>
                {{ asignment_form.upload(class="form-control adj-width-60")}}
                {% if asignment_form.upload.errors %}
                {% for error in asignment_form.upload.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Attachment 3--------->
            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ asignment_form.upload1.label(class="labels")}}<br>
                {{ asignment_form.upload1(class="form-control adj-width-60")}}
                {% if asignment_form.upload1.errors %}
                {% for error in asignment_form.upload1.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------url --------->
            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ asignment_form.url .label(class="labels")}}<br>
                {{ asignment_form.url (class="form-control adj-width-60", placeholder="URL")}}
                {% if asignment_form.url .errors %}
                {% for error in asignment_form.url .errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                {{ asignment_form.submit(class="btns") }}
                <!--<input class="btns" type="submit" value="Create Account" />-->
            </div>

        </form>
</div>
</section>

{% endblock %}