


<html>
    <head>
        <style>
            .form-fields{
                display:flex;
                flex-direction:column;
            }
            .search-cont{background-color:;display: flex;justify-content:center;padding:10px}
            .search-cont input{border: 1px solid grey;border-radius:10px;padding: 5px;}
            /* section{ background-image:url(static/images/bg_service.png) } */
        </style>
    </head>
    <body>
        <div class="header">
            <img src="logo.png" /> <img src="./eswatini_flag.png" /> 
        </div>
        <section style="flex-wrap: nowrap;" class="mail-container">

        </section>
        <div style="" class="email-signature">

        </div>

        <script>
        
        </script>
    </body>
</html>
