{% extends "base.html" %}
{% block content %}

    <style>
        .form-fields{
            display:flex;
            flex-direction:column;
        }
        .search-cont{background-color:;display: flex;justify-content:center;padding:10px}
        .search-cont input{border: 1px solid grey;border-radius:10px;padding: 5px;}
        /* section{ background-image:url(static/images/bg_service.png) } */
    </style>
<div style="width:;margin:0 auto;background-color:;">
    <!-- <a id="contact_us"></a> -->
    <section style="background-color:;" id="" class="">
        <!-- Flash message -->

        <div class="flash-messages ">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div><br>

    </section>
</div>

<div class="container">

    <div class="btns">Create A Job</div>
    <div class="btns">View Jobs</div>

</div><br><br>


<script>
// quoteBtns.forEach(function(btn){

function showHideFbtns(){
    let reprtCont = document.querySelector('#report');
    let contHandle = document.querySelector('#cont-handle');
    reprtCont.classList.toggle('show-it');
    contHandle.classList.toggle('rotate-45');
    }

</script>
{% endblock %}