
{% extends "base.html" %}
{% block content %}

<div class="flash-messages" class="btns">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for  category, message in messages %}
                <div class="flash-messages alert-{{category}}"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<!--      <h3>How are you Today!<br> <span class="spans"></span></h3>-->
    <br><br><br>

            <!----FORM----->
<div class="container">
    <div class="login-cont flex-general">
        <p class="paras-subtopics"></p><br>
        <h1 class="left-margin"><span class="spans">Password Reset</span></h1>
        <form style="z-index:1000" _lpchecked="1" action="" method="post">
            <!-- <h1>Welcome,<br><span style="font-size:small;color:rgb(145, 23, 23);font-weight:500">Your Email</span></h1> -->

            {{reset_request_form.hidden_tag()}}

            <div style="" class="group">
                {{ reset_request_form.email.label }}<br>
                {{ reset_request_form.email(class="form-control") }}<br>
                {% if reset_request_form.email.errors %}
                    {% for error in reset_request_form.email.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
                {% endif %}
            </div> 

            <div style="margin:10px auto;" class="group">
                <div style="padding-left:;width:100%;background-color:339ab3" class="d-flex flex-row align-items-center justify-content-between">
                    {{reset_request_form.reset(class="btns")}}
                </div>
            </div>

        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br>

{% endblock %}