{% extends "base.html" %}
{% block content %}

    <style>
        .form-fields{
            display:flex;
            flex-direction:column;
        }
        .search-cont{background-color:;display: flex;justify-content:center;padding:10px}
        .search-cont input{border: 1px solid grey;border-radius:10px;padding: 5px;}
        /* section{ background-image:url(static/images/bg_service.png) } */
    </style>
<!-- <div style="width:;margin:0 auto;background-color:;"> -->
    <!-- <a id="contact_us"></a> -->
    <!-- <section style="background-color:;" id="" class=""> -->
        <!-- Flash message -->

        <!-- <div class="flash-messages ">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div><br>

    </section>
</div> -->

<div class="container">
    {% if projects %}
    {% for project in projects %}
    <div class="repo-container">
            <!-- <labels class="labels">Project Title</labels> -->
            <h3 style="color:black" class="repo-title">
                {{project.proj_name}}
            </h3>
            <div class="line2"></div>
            <div><a href="/project_assignments?pid={{ser.dumps({'data':project.id})}}"> <div class="btns-user-pa">View Tasks</div></a></div><br>
        {% if project.timestamp %}
        
        
        <div style="flex-wrap: nowrap !important;" class="repo-details general-flex">
            <div>{{project.timestamp.strftime("%d %b %y")}}</div>
        </div>
        {% endif %}

        <labels class="labels-extend"> Project Description: </labels>
        <div class="repo-content"><span class="repo-print">{{project.description}}</span>
        </div><br>
        <br>
       
        <labels class="labels-extend"> Assistantance Required in Project: </labels>
        <div class="repo-content"><span class="repo-print">{{project.proj_assistance}}</span>
        </div><br>
        <br>
        <label style="color:rgb(118, 119, 119);text-align: center;" class="labels-extend">{{project.company_email}}</label>
        <!-- <div style="flex-wrap: nowrap !important;" class="repo-details general-flex">
            <div>Started:<br></div><div>Completed:<br> Not Yet</div>
        </div> -->
        <br>
        <label >Would you like to break it into Tasks?</label>

        <a href="/assignment_form?pid={{ser.dumps({'data':project.id})}}"> <div class="btns">Assign Task</div></a>
    </div>
    {% endfor %}
    {% else %}
        <div style="width:90%" class="flash-messages ">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <br>
        <div class="repo-container">
            
            <h3 class="repo-title">
                You Have Not Assigned me any Job Yet!
            </h3>
            <a href="/project_form"> <div style="margin:0 auto" class="btns">Assign A Job</div></a>
        </div>
    {% endif %}

</div><br><br>


<script>
// quoteBtns.forEach(function(btn){

function showHideFbtns(){
    let reprtCont = document.querySelector('#report');
    let contHandle = document.querySelector('#cont-handle');
    reprtCont.classList.toggle('show-it');
    contHandle.classList.toggle('rotate-45');
    }

</script>
{% endblock %}